{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
   Hi {{user.username}}
   <p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
   <p>You are not logged in</p>
   <a href="{% url 'login' %}">Log in</a> |
   <a href="{% url 'signup' %}">Sing up</a>
{% endif %}
{% endblock content %}